// Colors

// $theme-color: $deep-purple;
$theme-color: #68516D;
$theme-color-contrast: #EED253;
$theme-color-transparent: #68516ded;
$background-color-light: #1D1D1D;
// $theme-color-dark: $deep-purple-dark;

$input-color: #5f5f5fbf;