<div class="auth-container">
    <div class="form-logo">
        <img src="../../../assets/images/riva-logo.svg">
    </div>
    <div class="auth-form">
        <h2>LOGIN</h2>
        <div class="form-group">
            <input [(ngModel)]="login.UserName"
                type="text" 
                class="floating-label-field floating-label-field--s3" 
                placeholder="Username" required/>
            <label class="floating-label">Username</label>
            <!-- <div *ngIf="error.emailAddress" class="field-error-message indicator-required">Username is required</div> -->
        </div>
        <div class="form-group">
            <input [(ngModel)]="login.Password"
                type="password" 
                class="floating-label-field floating-label-field--s3" 
                placeholder="Password" required/>
            <label class="floating-label">Password</label>
            <!-- <div *ngIf="error.password" class="field-error-message indicator-required">Password is required</div> -->
        </div>
        <div class="form-group">
            <button class="btn-confirm" (click)="loginUser()">Login</button>
        </div>
        <div class="form-group">
            <div>
                <span routerLink="/register" class="btn-link left-link">Register</span>
            </div>
        </div>
    </div>
</div>