@import '../../../assets/generic-styles/variable';
@import '../../../styles.scss';

.load-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: $theme-color-transparent;
	text-align: center;
	z-index: 9999;
}

// Ring
.lds-ring {
	@extend .center-position;
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid $theme-color;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $theme-color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// Circle
.lds-circle {
	@extend .center-position;
	position: absolute;
	transform: translateZ(1px);
}
.lds-circle > div {
	@extend .center-position;
	position: absolute;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: $theme-color-contrast;
	animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
	0%, 100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}
  